<div class="row">
  <section class="col-4">
    <h2>Application state</h2>
    <form method="POST" action="/admin">
      <div class="form-group">
        <label for="accessToken">Service Access Token</label>
        <input name="accessToken" disabled value="{{data.accessToken}}" type="text" class="form-control"
          id="accessToken">
      </div>
      <br>
      <div class="form-group">
        <label for="project">Project ID</label>
        <input name="project" placeholder="e.g. 14071" required value="{{data.project}}" min="0" type="number"
          class="form-control" id="project">
        <small class="form-text text-muted">Only users in this project can see the invocation</small>
      </div>
      <div class="form-group">
        <label for="category">Category ID</label>
        <input name="category" placeholder="e.g. PC7" required value="{{data.category}}" type="text"
          class="form-control" id="category">
        <small class="form-text text-muted">Only users in this category can see the invocation</small>
      </div>
      <br>
      <h5>Service credentials</h5>
      <div class="form-group">
        <label for="serviceClientId">Client ID</label>
        <input name="serviceClientId" placeholder="e.g. extensionframework_client_credentials_3a89e80640d92" required
          value="{{data.serviceAuthCreds.clientId}}" class="form-control" id="serviceClientId">
      </div>
      <div class="form-group">
        <label for="serviceClientSecret">Client Secret</label>
        <input name="serviceClientSecret"
          placeholder="e.g. 043b5d105b67a0a7276775f40fe5e4d98a0545ba897f75f68dffeefaf6ba1c4e" required
          value="{{data.serviceAuthCreds.clientSecret}}" class="form-control" id="serviceClientSecret">
      </div>
      <br>
      <h5>User authorization credentials</h5>
      <div class="form-group">
        <label for="userClientId">Client ID</label>
        <input name="userClientId" placeholder="e.g. extensionframework_client_credentials_3a89e80640d92" required
          value="{{data.userAuthCreds.clientId}}" class="form-control" id="userClientId">
      </div>
      <div class="form-group">
        <label for="userClientSecret">Client Secret</label>
        <input name="userClientSecret"
          placeholder="e.g. 043b5d105b67a0a7276775f40fe5e4d98a0545ba897f75f68dffeefaf6ba1c4e" required
          value="{{data.userAuthCreds.clientSecret}}" class="form-control" id="userClientSecret">
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </section>

  <section class="col-8">
    <h2>Trigger invocation</h2>
    <form method="POST" action="/admin/triggers">
      <div class="form-group">
        <label for="primaryAction">Primary action</label>
        <input required name="primaryAction" value="{{primaryAction}}" type="text" class="form-control"
          id="primaryAction">
      </div>
      <div class="form-group">
        <label for="secondaryAction">Secondary action</label>
        <input name="secondaryAction" value="{{secondaryAction}}" type="text" class="form-control" id="secondaryAction">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="notification" name="notification">
        <label class="form-check-label" for="notification">
          Send push notification
        </label>
      </div>
      <br>

      {{#if hasRequiredData}}
      <button type="submit" class="btn btn-primary">Invoke</button>
      {{else}}
      <p>Please provide all the required application state</p>
      <button class="btn btn-primary" disabled>Invoke</button>
      {{/if}}
    </form>

    <br />

    <h3>Action Log</h3>
    <ul class="action-log">
      {{#each actionLog}}
      <li>
        <label>{{{this.name}}} - {{{this.time}}}</label>
        <pre><code>{{{this.data}}}</code></pre>
      </li>
      {{/each}}
    </ul>

  </section>
</div>

<style>
  pre {
    background-color: #eee;
    display: block;
    padding: 20px;
    font-size: 0.8rem;
  }
</style>